Package: kenjibailly.starwars
Name: Star Wars
Version: 1.0
Architecture: iphoneos-arm
Description: This is a widget made for XenHTML.
Author: Kenji Bailly <kenjibailly@gmail.com>
Section: Widgets
Maintainer: Kenji Bailly <kenjibailly@gmail.com>
